<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar d-flex justify-content-between">
      <h3>Simple Airbnb</h3>
      <%= link_to "Add Flat", new_flat_path, class: "btn btn-outline-info" %>
    </div>
    <%= yield %>
  </body>
</html>
